:root{
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --fontsize: 1rem;
    --anchomaximo: 68.75rem;
    --margingrid: 1rem;
 }

img{
    width: 100%;
    height: auto;
    display: block
}
.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}
body {
    font-family: var(fuenteprincipal);
    font-size: var(--fontsize);
}
/*Fin del layout general*/